<ul>
<% @items.each do|item| %>
  <li>
    <strong><%= item.id %></strong>
    <%= item.num %>
    <%= item.cost %>
    <%= item.created_at.in_time_zone("Asia/Tokyo") %>
    <%= item.updated_at.in_time_zone("Asia/Tokyo") %>
    <%= link_to '削除', "/delete/#{item.id}", :method => :delete %>
  </li>
<% end %>
</ul>
