<!DOCTYPE html>
<html>
<head>
  <title>Hoge</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= link_to 'Root', root_path %>
<%= link_to 'All', all_path %>
<%= link_to 'Chart', chart_path %>

</body>
</html>
